/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  align-items: center;
}

li {
  list-style: none;
}

.search-bar {
  height: 30px;
  width: 550px;
}

.main-img {
  display: block;
  width: 100%;
}

.logo {
  height: 100px;
  width: 300px;
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(9, 5fr);
  margin-top: 20px;
}

h1 {
  text-align: center;
}

p {
  /* display: block; */
  display: inline-block;
}

.most-sold {
  height: 300px;
  width: 250px;
}

.footer-img {
  display: block;
  height: 600px;
  width: 100%;
}
